.day-x-schedule div {
	background-color: #fff;
	min-height: 180px;
	border-radius: 5px;
	padding: 20px 30px;
}

.timewise-schedule-box {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.day-x-schedule div img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
}

.speaker-name {
	color: #7b68ee;
}

.active-day {
	background-color: #7b68ee !important;
	color: #fff !important;
}

.active-day h5,
.active-day p {
	color: #fff;
}

.active-schedule {
	display: block;
}

.schedule-blue {
	background-color: #7b68ee;
	color: #fff;
}
